@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* COLORS */
    --accent-1: #FFE974;
    --accent-1-foreground: #000;
    --accent-1-hover: 44, 97%, 40%;

    --like: #f788d2;
    --like-foreground: #000000;
    --like-hover: #f32fb2;

    --background: #101010;
    --background-border: #000000;
    --foreground: 0 100% 100%;

    --muted: #1f1f1f;
    --muted-hover: #141414;
    --muted-foreground: #929292;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 100% 100%;
    --primary-subued: 0 0% 65%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: #0e0e0e;
    --secondary-foreground: #fff;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;

    --radius: 0.5rem;

    /* NAVBAR */
    --navbar-background-color: #000000;

    /* SCROLLBAR */
    --scrollbar: #858585;
    --scrollbar-hover: #383838;

    /* HEIGHT */
    --height-header: 64px;
    --height-navbar: 80px;
  }

  .light {
    /* COLORS */
    --accent-1: #FFE974;
    --accent-1-foreground: #000;
    --accent-1-hover: 44, 97%, 40%;

    --like: #f788d2;
    --like-foreground: #000000;
    --like-hover: #f32fb2;

    --background: #c41919;
    --background-border: #b1b1b1;
    --foreground: 0 100% 100%;

    --muted: #0e0e0e;
    --muted-foreground: #929292;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 100% 100%;
    --primary-subued: 0 0% 65%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: #0e0e0e;
    --secondary-foreground: #fff;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;

    --radius: 0.5rem;

    /* NAVBAR */
    --navbar-background-color: #000000;

    /* SCROLLBAR */
    --scrollbar: #858585;
    --scrollbar-hover: #383838;

    /* HEIGHT */
    --height-header: 64px;
    --height-navbar: 70px;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular; 
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-8
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[36px] leading-[48px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[36px] leading-[48px] font-semibold;
  }
}
